/* body{

} */
.container{
width: 100%;
max-width: 375px;
margin-inline: auto;
}

.info__container{
  background-color: var(--Lightpink);

}

.info__wrapper{
  padding: 2em;
  position: relative;
  top: -100px;
  background-color: var(--Primarywhite);
  width: 90%;
  margin: 0 auto;
}
.info__title{
  display: flex;
  align-items: center;
  gap: 1.5em;
  font-family: "WorkSans-bold";
}

.info__title img{
  align-self:flex-end;
}

.accordion > div{
   display: flex;
   justify-content: space-between;
   margin-bottom: 1em;
  
  }

.accordion h3{
  padding-bottom: 1em;
  cursor: pointer;
  font-family: "WorkSans-Semibold";
}
.accordion img{
  cursor: pointer;
}

.accordion p{
  padding-bottom: 1em;
  color: var(--Grayishpurple);
}

.accordion h3:hover{
  color: #AD28EB
}

.hide{
  display: none;
  opacity: 0;
  animation: vanish 1s;

}

.show{
  display: block;
  opacity: 1;
  animation: appear 1.5s;
}


@keyframes appear {
  
from{
  opacity: 0;
}

to{
  opacity: 1;
}

}

@keyframes vanish {
  
  from{
    display: block;
    opacity: 1;
  }
  
  to{
    display: none;
    opacity: 0;
  }
  
  }
  
@media screen and (min-width: 450px) {
  .container{
    width: 100%;
    max-width: unset;
    margin-inline: unset
    }

  .info__wrapper{
    width: 40%;
    min-width: 430px;
  } 
}